*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
}

#myInput {
    font-size: 16px;
    padding: 10px;
}